<!-- OG / Facebook -->
<meta property="og:image" content="<%= image_large %>" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="http://www.website.com/?utm_source=facebook&utm_medium=social&utm_campaign=social%20media" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="http://www.website.com/?utm_source=twitter&utm_medium=social&utm_campaign=social%20media" />
<!-- NB finds og data as well -->
